.mainimage{
	width:100%;
}

.introduction{
	font-family: 'Niramit', sans-serif;
	background-color:#808000;
	color:white;
	text-align:center;
	width:auto;
	font-size:22px;
	letter-spacing:2px;
	padding:20px;

}

h1{
	font-family: 'Niramit', sans-serif;
	font-size:30px;
	text-align:center;
	margin:auto;
	color:#808000;
	font-weight:bold;

}

.who{
	font-family: 'Karla', sans-serif;
	font-size:15px;
	color:#696969;
	padding-top:2px;
	padding-bottom:5px;
}

.time{
	font-family: 'Karla', sans-serif;
	font-size:15px;
	text-align:center;
	color:#FF6347;
	padding-top:2px;
	padding-bottom:15px;
}

.description{
	font-family: 'Karla', sans-serif;
	font-size:15px;
	padding-top:7px;
	padding-bottom:10px;

}

.ingredient{
	border: 2px solid #696969;
	padding-top:15px;
	padding-left:10px;
	padding-bottom:15px;
	font-family: 'Niramit', sans-serif;
	font-size:15px;

}

h2{
	font-family: 'Niramit', sans-serif;
	font-size:18px;
	text-align:center;
	padding-top:2px;
	width:200px;
	height:32px;
	letter-spacing:2px;
	border-radius:15px;
	background-color:#FF6347;
	color:#fff;
	margin:auto;
}

h3{
	font-family: 'Niramit', sans-serif;
	font-size:18px;
	text-align:center;
	padding-top:2px;
	width:210px;
	height:32px;
	letter-spacing:2px;
	border-radius:15px;
	background-color:#FF6347;
	color:#fff;
	margin:auto;
	margin-top:25px;
	margin-bottom:25px;
}

.step{
	display:inline-block;
	height:25px;
	width:25px;
	text-align:center;
	border-radius:50%;
	font-family: 'Niramit', sans-serif;
	color:#fff;
	background-color:#808000;
	line-height:22px;
	font-size:17px;
	margin-top:7pt;
	margin-right:7pt;
}

.first{
	display:inline-block;
	font-family: 'Niramit', sans-serif;
	line-height:27px;
}

.step1{
	width:100%;
	margin-top:13px;
}

.step2{
	width:100%;
	margin-top:13px;
}

.step3{
	width:100%;
	margin-top:13px;
}

.step4{
	width:100%;
	margin-top:13px;
}

.step5{
	width:100%;
	margin-top:13px;
}

.step6{
	width:100%;
	margin-top:13px;
}

.step7{
	width:100%;
	margin-top:13px;
}

.enjoy{
	font-family: 'Niramit', sans-serif;
	background-color:#808000;
	color:white;
	text-align:center;
	width:auto;
	font-size:22px;
	letter-spacing:2px;
	padding:20px;
}